.card {
    /*height: 379px;*/
    height: auto;
    width: 589px;
    border-radius: 4px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.title {
    padding-bottom: 15px;
    text-align: left;
}

.text{
    padding-bottom: 7px;

}

ul{
    padding-left: 21px;
}
