.card {
    /*height: 379px;*/
    height: auto;
    width: 589px;
    border-radius: 4px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.titleMortgage {
    padding-bottom: 15px;
}

.textMortgage {
    padding-bottom: 7px;

}

ul{
    padding-left: 17px;
}

hr {
    padding-top: 30px;
    padding-bottom: 30px;
    align-self: center;
    border: 1px solid rgba(27, 28, 55, 0.5);
}