/*css цвета*/
:root {
    --neptune-blue: #18A0FB;
    --neptune-blue-75: rgba(24, 160, 251, 0.75);
    --neptune-blue-50: rgba(24, 160, 251, 0.5);
    --neptune-blue-25: rgba(24, 160, 251, 0.5);

    --dark-space: #1B1C37;
    --dark-space-75: rgba(27, 28, 55, 0.75);
    --dark-space-50: rgba(27, 28, 55, 0.5);
    --dark-space-25: rgba(27, 28, 55, 0.25);

    --white: #FFFFFF;
    --black: #000000;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Oswald', 'Montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Подключение шрифтов*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local('Montserrat'),
    url('../media/fonts/montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local('Montserrat'),
    url('../media/fonts/montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local('Montserrat'),
    url('../media/fonts/montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: local('Oswald'),
    url('../media/fonts/oswald/static/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
}


/*Импортированные компоненты*/
.sliderTextPosition {
    position: absolute;
    width: 577px;
    height: 60px;
    left: 432px;
    top: 278px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.backColNeptuneBlue25 {
    background-color: var(--neptune-blue-25);
}

.sliderImage {
    width: 100vw;
    height: 100vh;
}