/*css цвета*/
:root {
    --neptune-blue: #18A0FB;
    --neptune-blue-75: rgba(24, 160, 251, 0.75);
    --neptune-blue-50: rgba(24, 160, 251, 0.5);
    --neptune-blue-25: rgba(24, 160, 251, 0.5);

    --dark-space: #1B1C37;
    --dark-space-75: rgba(27, 28, 55, 0.75);
    --dark-space-50: rgba(27, 28, 55, 0.5);
    --dark-space-25: rgba(27, 28, 55, 0.25);

    --white: #FFFFFF;
    --black: #000000;

    --bord-radius-cust: 5px;
}

/*Импорт шрифтов из Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald&display=swap');

body {
    margin: 0;
    font-family: -apple-system, 'Montserrat', 'Oswald', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}