.card {
    height: auto;
    width: 387px;
    border-radius: var(--bord-radius-cust);
}

.img {
    width: 100%;
    height: auto;
    border-radius: var(--bord-radius-cust);
    background-size: cover;
}

.text {
    padding-bottom: 20px;
}
